/* Imports */
@import url("normalize.css");

/* Variables */
:root {
  /* Color Scheme */
  --main-color: #232931;
  --light-color: #404750;
  --shade-color: rgb(23, 27, 30);
  --accent-color: #4ecca3;
  --accent-color-faded: #263631;
  --overlay-color: rgba(34, 41, 49, 0.822);
  --font-color: #f5f5f3;

  /* Typography */
  --main-font: "Roboto", sans-serif;
  --main-font-fallback: sans-serif;
  /* --accent-font: */
  --main-font-wght: 500;

  --base-size: .875rem;
  --type-scale: 1.125;
  /* Screen Sizes | L - Major 3rd - 1.25 | M - 1.2 Minor 3rd | S - 1.125 Major 2nd */
  --p: calc(var(--base-size) * var(--type-scale));
  --h6: calc(var(--p) * var(--type-scale));
  --h5: calc(var(--h6) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
}

/* Assign typescale sizes */
h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

p {
  font-size: var(--p);
}

h1, h2, h3, h4, h5, h6, p,
input, button {
  font-weight: var(--main-font-wght);
  letter-spacing: .1em;
  color: var(--font-color);
}

/* Reset, Border-Box, & Font-Var-Set */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-variation-settings: "wght" var(--main-font-wght);
  border: none;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font-fallback);
  color: var(--font-color);
}

#app {
  width: 100%;
}

/* Check Variable Font Support */
@supports (font-variation-settings: "wght" 500) {
  body {
    font-family: var(--main-font);
  }
}

input {
  padding-left: .25em;

  border-bottom: 1px solid var(--accent-color);
  border-radius: 3px;
}

button {
  width: 5em;
  height: 1.5em;

  background-color: var(--accent-color-faded);
  border: thin solid var(--accent-color);
  border-radius: 5px;

  color: var(--accent-color);
}

button:hover {
  width: 5em;
  height: 1.5em;

  background-color: var(--accent-color);
  border: thin solid var(--light-color);
  border-radius: 5px;

  color: var(--accent-color-faded);
}

.todo-item {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  margin: 5px 0;
  padding: 15px;

  background-color: var(--main-color);
  border: thin solid var(--light-color);
  border-radius: 10px;
}

.todo-item:hover,
.selected {
  background-color: var(--accent-color-faded);
  border: thin solid var(--accent-color);
}

.todo-item input {
  background-color: var(--overlay-color);
}

/* Modal */
.modal-mask {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 8000;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--overlay-color);
}

.modal {
  display: flex;
  flex-direction: column;
  z-index: 9000;

  width: 50%;
  height: 50%;

  margin-right: auto;
  margin-left: auto;

  background-color: var(--shade-color);
  border-radius: 10px;
}

.modal-inputs {
  width: 100%;
  height: 70%;
}

.modal-inputs input {
  background-color: var(--accent-color-faded);
}